body{
    background-image: url(pngtree-cricket-bails-icon---watercolor-background-png-image_3735905.jpg);
    background-size:cover;
    background-repeat:no-repeat;
	background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', sans-serif !important;
}
html{
    scroll-behavior: smooth;
}
.master{
	width: 100%;
    height: 100%;
	
}

/* NavBar css*/
.navbar{
    text-decoration: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;     
    background: lightgray;
    color: white;
    height: 3rem;
	width: 100%;
    position: fixed;
}
a{
    color: black !important;
}

.navbar-brand img{
    height: 3rem;
    width: 4.5rem;
    
}
.navbar-nav li{
    padding-right: .7rem;
    font-size: 20px;
}
 .navbar-nav li:hover{
    color: #3965E1;
}

#content{
  margin-top: 4%;
  margin-left: 4%;              /* Links styling */
  width: 30%;
  background-color: rgba(0,0,0,0.20);
  border-radius: 50px; 
}
#content a:hover{
    text-decoration: none;
    color: rgb(5, 62, 218) !important;
}

.but1{
    width: 40%;
    height: 8%;
    text-align: center;
    font-weight: bold;                                         /* List of links */
    font-size: 1.25em;
    border-radius:0;
    margin-top: 2%;
	color:black;
    border:none;
    background-color:transparent;
	cursor: pointer;
	transition:all .5s ease;
}
.but1:hover{
    text-decoration: none;
    color: rgb(5, 62, 218) !important;
 }
 
#search{
    width: 13%;
    height: 6%;
    border: 2px dotted #f3971b;              /*search bar */
    text-align: center;
    margin-left: 8%;
    margin-top: -8%;
    margin-bottom: 8%;
}
#player{
    width: 10%;
    height: 8%;
    padding:10px 20px;
    margin-left: 1%;
	border-radius:0;
	font-size: 16px;
	color:#ffffff;
	font-weight:400; 
	background-color:#f3971b;                  /* Button*/
    border:70% solid transparent;
	letter-spacing:.5px;
	cursor: pointer;
    transition:all .5s ease;
}
#player:hover{
    border:1px solid #f3971b;
    color:#f3971b;
    background-color:transparent;
}

 
 #container{
    background-color: rgba(0,0,0,0.25) !important;
    border-radius: 50px;                     /* Data output */
    width:35%;
    color:black;                           
    margin-top: -40%;
    margin-right: 2%;
    float: right;	
    text-align: center;
	
} 

/*  #container{
    background-color: rgba(0,0,0,0.25) !important;
    border-radius: 50px;                     
    width:35%;
    color:black;                           
    margin-top: -40%;
    margin-right: 0px;
    margin-left: 970px !important;
    text-align: center;
	
} */




